.user-input .input-section .buttons{
  display: flex;
  justify-content: space-evenly;
}

.user-input .input-section .buttons button{
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
  filter: drop-shadow(2px 2px 2px rgba(147, 147, 147, 0.757));
}

.user-input .input-section .buttons button:hover{
  transform: scale(1.1);
  opacity: .8;
  color: rgba(0, 0, 0, 0.8);
}