*{
  padding: 0;
  margin: 0;
}

body{
  max-width: 100%;
  min-height: auto;
  background-color: #fff;
}

.cv{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.inputSection{
  grid-area: 1/1/2/2;
  margin-left: 1rem;
  margin-top: 1rem;
}

.template{
  align-self: start;
  grid-area: 1/2/2/3;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  background-color: aliceblue;
  padding: 2rem;
  margin: 2rem;
  border-radius: 12px;
  filter: drop-shadow(3px 3px 5px rgba(147, 147, 147, 0.757));
}